 

.container{
    width: 1200px;
    margin: auto
}

.texto{
   color: orangered
}
.textb{
font-size: 1 }
 

.textc{ 
    text-align: center 
 }

 .textu{
    text-transform: uppercase
 }

 .header{
     background-image: url(../images/header2.jpg) ;
     -webkit-background-size: cover ;
     -moz-background-size: cover ;
     -o-background-size: cover ;
     background-size: cover 
     
    }
    .textb {
        color: #FFF ;
    }
    .rg{
        background-color: rgba(52, 58, 66, .8)
       }
       
.textf{
    font-family: 'Lato', sans-serif

}
.btn button {
    background: transparent;
    width: 180px;
    padding: 8px 0;
    margin: 28px 15px;
    border: 2px solid orangered;
    border-radius: 15px;
    font-size: medium;
    color: #FFF ;
    font-family: 'Lato', sans-serif

}

.btn button:hover {
    background: orangered;
    border: 2px solid orangered;
    color: #FFF ; 
    transition: all .5s ease-in-out
   
}
 
 .design h1 {
    font-size: 60px ;
    font-weight: bolder 

}
.features {
    padding: 80px 0
}
.features .box{
    width: 22% ;
    float: left;
    margin-right: 4%
}

.features .box:last-child{
    margin-right: 0
}

.features .box i{
    color: orangered;
    border: 1px solid #ccc;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
}

.features .box i:hover {
    border: 1px solid orangered ;
    transition: all .5s ease-in-out ;
    background-color: orangered ;
    color: #FFF 

}

.features .box h3{
     text-transform: uppercase ;
     font-weight: normal ;
     color: #666
}

.features .box p {
  line-height: 1.8 ;
    color: #505050 ;
    text-align: justify
}